@model IEnumerable<Visma_Library_2022.Models.BorrowedBook>

@{
    ViewData["Title"] = "Index";
}

<h1>Comments of this book</h1>

<p>
    <a asp-action="Create">Post new comment</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Book)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ApplicationUser)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BorrowDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReturnDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BookId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ApplicationUserId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BorrowDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReturnDate)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.BorrowHistoryId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.BorrowHistoryId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.BorrowHistoryId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
